.imagen-fondo {
  background-image: url(./images/opcion\ fondo\ 1\ 1.png);
}

.logo {
  width: 78.76px;
  height: 114.86px;
  margin-left: 140.87px;
  margin-top: 27.96px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.titulo-1 {
  height: 44.35px;
  margin-right: 36px;
  margin-left: 365.64px;
  justify-content: right;
  margin-top: 27.96px;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 32px;

  color: #000000;
}

.titulo-2 {
  width: 356px;
  height: 79px;
  margin-left: 140.46px;
  margin-bottom: 15px;
  margin-top: 85px;

  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;

  color: #000000;

  transform: rotate(0.33deg);
}

.bloque-cards {
  margin-bottom: 55px;
  margin-left: 55px;
}

.imagen-carta {
  border-radius: 20px;
}

.carta-1 {
  width: 280.87px;
  height: 300.88px;
  margin-left: 75.64px;
  margin-top: 55.46px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #ffffff;
  border-radius: 20px;
}
.carta-2 {
  width: 280.87px;
  height: 300.88px;
  margin-left: 75.64px;
  margin-top: 55.46px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #889ef0;
  border-radius: 20px;
}

.carta-3 {
  width: 280.87px;
  height: 300.88px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 75.64px;
  margin-top: 55.46px;

  background: #425ec9;
  border-radius: 20px;
}
.carta-4 {
  width: 280.87px;
  height: 300.88px;
  margin-left: 75.64px;
  margin-top: 55.46px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #fae7e7;
  border-radius: 20px;
}
.carta-5 {
  width: 280.87px;
  height: 300.88px;
  margin-left: 75.64px;
  margin-top: 55.46px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #647ace;
  border-radius: 20px;
}
.carta-6 {
  width: 280.87px;
  height: 300.88px;
  margin-left: 75.64px;
  margin-top: 55.46px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #2641a8;
  border-radius: 20px;
}
.titulo-c-1 {
  width: 176.92px;
  height: 33.71px;
  left: 127.32px;
  top: 462.27px;

  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}

.texto-c-1 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.titulo-c-2 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #282626;
}

.texto-c-2 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #282626;
}

.titulo-c-3 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #ffffff;
}

.texto-c-3 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.titulo-c-4 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}

.texto-c-4 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.titulo-c-5 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #fae7e7;
}

.texto-c-5 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #fae7e7;
}

.titulo-c-6 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #ffffff;
}

.texto-c-6 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.pie {
  text-align: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
